Name - Sarthak Bante
Roll No - 07
Class - 3rd year
Section - CSE

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
os.getcwd()

'C:\\Users\\sarth\\Data Analytics projects\\College Proj'

In [3]:
os.chdir('D:\\Users\\SARTHAK\\Picture\\Desktop')

In [4]:
df=pd.read_csv('framingham.csv')

In [5]:
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [6]:
df.shape

(4240, 16)

In [7]:
df.size

67840

# Train -Test Split

In [8]:
x = np.arange(1,25).reshape(12,2)
y = np.array([0,1,1,0,1,0,0,1,1,0,1,0])

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [10]:
x_train

array([[ 9, 10],
       [21, 22],
       [ 7,  8],
       [11, 12],
       [17, 18],
       [15, 16],
       [23, 24],
       [ 1,  2],
       [13, 14]])

In [11]:
x_train

array([[ 9, 10],
       [21, 22],
       [ 7,  8],
       [11, 12],
       [17, 18],
       [15, 16],
       [23, 24],
       [ 1,  2],
       [13, 14]])

In [12]:
y_train

array([1, 1, 0, 0, 1, 1, 0, 0, 0])

In [13]:
y_test

array([0, 1, 1])

In [14]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression().fit(x_train,y_train)
model.score(x_train, y_train)

0.6666666666666666