# RANDOM FUNCTION

Name - Sarthak Bante
Roll No - 07
Class - 3rd year
Section - CSE

In [24]:
import random

# Generate a random array of size 10 with values between 1 and 62
random_array = [random.randint(1, 62) for _ in range(40)]

# Print the random array
print(random_array)

[42, 18, 41, 24, 38, 35, 19, 31, 3, 8, 46, 34, 31, 3, 13, 30, 31, 39, 11, 45, 16, 23, 11, 31, 21, 29, 46, 33, 1, 23, 36, 40, 26, 14, 27, 57, 43, 38, 24, 52]

In [25]:
age_sample = random_array

In [26]:
age_sample

[42,
 18,
 41,
 24,
 38,
 35,
 19,
 31,
 3,
 8,
 46,
 34,
 31,
 3,
 13,
 30,
 31,
 39,
 11,
 45,
 16,
 23,
 11,
 31,
 21,
 29,
 46,
 33,
 1,
 23,
 36,
 40,
 26,
 14,
 27,
 57,
 43,
 38,
 24,
 52]

In [27]:
from scipy.stats import ttest_1samp

In [28]:
ttest, p_value = ttest_1samp(age_sample, 40)

In [29]:
print(p_value)

4.271937793275464e-06

In [30]:
if p_value < 0.05: #alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

# END